*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/app/build
/captures
.externalNativeBuild
.cxx
local.properties
whisper_cpp/
desktop/node_modules/
desktop/dist/
desktop/src-tauri/target/
__pycache__/
